ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;

  >li {
    >a {
      border: 1px solid #CCC;
      border-radius: 4px;
      text-decoration: none;
      padding: 2px 4px;
      background: #6080DD;
      color: #FAFAFA;
      cursor: pointer;

      &:hover {
        background: #FAFAFA;
        color: #6080DD;
      }

    }
  }
}
